doctype html
html
  head
    title= title
    // meta
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // stylesheets
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    // scripts
    script(type='text/javascript', src='/lib/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/lib/bootstrap/dist/js/bootstrap.min.js')
  body
    .container
      block content
    .container
      footer
        p NodeBoard
        p
          a(href='https://github.com/umatoma/nodeboard' target='_blank') GitHub
      