extends ../layout

block content
  .page-header
    h1 Boards
  form.form-horizontal(action='/boards/create' method='POST')
    h2 Create Form
    .form-group
      label.col-sm-2.control-label Name
      .col-sm-4
        input.form-control(type='text' name='name')
    .form-group
      .col-sm-offset-2.col-sm-10
        input.btn.btn-primary(type='submit' value='Submit')
        
  h2 Board List
  table.table.table-striped
    thead
      tr
        th id
        th name
        th created_at
        th updated_at
    tbody
      each board in boards
        tr
          td= board.id
          td= board.name
          td= board.created_at
          td= board.updated_at